a{
    margin: 0%;
    padding: 0%;
    text-decoration: none;
}

p{
    margin: 0%;
    padding: 0%;
}

h1{
    margin: 0%;
    padding: 0%;
}

section{
    margin: 0%;
    padding: 0%;
}

main{
    margin: 0%;
    padding: 0%;
}

div{
    margin: 0%;
    padding: 0%;
}

nav{
    margin: 0%;
    padding: 0%;
}


ul{
    margin: 0%;
    padding: 0%;
}


header{
    margin: 0%;
    padding: 0%;
}


li{
    margin: 0%;
    padding: 0%;
}





.header{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 70px;
    background-color: #171717;
    box-shadow: 0px 0px 7px #00000075;
    z-index: 3;
}

.contenedor_logo{
    width: calc(20% - 50px);
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-content: center;
    background-color: #171717;
    padding: 0px 25px;
}

.imagen_logo{
    object-fit: cover;
    cursor: pointer;
    height: 50%;
}

.contenedor_menu_celular{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    z-index: 5;
    background-color: #171717;
}

.contenedor_logo_2{
    width: 100%;
    height: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background-color: #171717;
}

.ul_2{
    width: 100%;
    height: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background-color: #171717;
    grid-gap: 25px 25px;
}

.contenedor_cerrar{
    width: 100%;
    height: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-content: center;
    background-color: #171717;
}

.fa-x{
    color: #ffffff;
    margin-right: 15px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.25s;
}

.fa-x:hover{
    color: #E42722;
    transform: rotate(360deg);
}

.fa-x:active{
    color: #9b110d;
}

.imagen_logo_2{
    height: 60%;
    object-fit: cover;
    cursor: pointer;
}

.nav_2{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background-color: #ff0000;
}

.nav{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.ul{
    width: 75%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-content: center;
    background-color: #171717;
}

.enlace_li{
    color: #ffffff;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:"slnt" 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: 15px;
    transition: 0.25s;
    text-transform: uppercase;
    transition: 0.25s;
}

.enlace_li:link{
    color: #ffffff;
}

.enlace_li:visited{
    color: #ffffff;
}

.enlace_li_2{
    color: #ffffff;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:"slnt" 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: 22px;
    transition: 0.25s;
    text-transform: uppercase;
    transition: 0.25s;
}

.enlace_li_2:link{
    color: #ffffff;
}

.enlace_li_2:visited{
    color: #ffffff;
}

.li{
    width: auto;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background-color: #171717;
    padding: 0px 12.5px;
    cursor: pointer;
    transition: 0.25s;
}

.li:link{
    color: #ffffff;
}

.li:visited{
    color: #ffffff;
}

.li:hover .enlace_li{
    color: #E42722;
}

.li_2{
    width: 100%;
    height: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background-color: #171717;
    padding: 0px 12.5px;
    cursor: pointer;
    transition: 0.25s;
}

.li_2:link{
    color: #ffffff;
}

.li_2:visited{
    color: #ffffff;
}

.li_2:hover .enlace_li_2{
    color: #E42722;
}

.main{
    position: absolute;
    top: 70px;
    left: 0%;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: start;
    background-color: #ffffff;
}

.contenedor_buscar{
    width: calc(5% - 1px);
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background-color: #171717;
    border-left: 1px solid #ffffff;
}

.fa-magnifying-glass{
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
}

.fa-bars{
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
}

.fa-solid.fa-bars:first-child {
    display: none;
}

.contenedor_principal{
    width: 100%;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background-color: #ffffff;
    overflow: hidden;
}

.contenedor_imagen_principal{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    overflow: hidden;
    background-color: #ffffff;
}

.imagen_principal{
    width: 100%;
    height: 100%;
    cursor: pointer;
    object-fit: cover;
}

.contenedor_superpuesto_principal{
    width: 100%;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    overflow: hidden;
    background-color: #00000075;
    position: absolute;
    top: 0%;
    left: 0%;
}

.contenedor_universal{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: start;
    overflow: hidden;
    padding: 25px 25px;
    background-color: #ffffff;
    grid-gap: 25px 25px;
    border-bottom: 1px #32689A solid;
}

.contenedor_titulo{
    background-color: #ffffff;
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-content: start;
    grid-gap: 25px 25px;
}

.inter-texto_titulo_secciones{
    font-size: 25px;
    color: #32689A;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:"slnt" 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    width: 100%;
    height: auto;
    text-transform: uppercase;
}

.inter-texto_descripcion_secciones{
    font-size: 20px;
    color: #171717;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:"slnt" 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    width: 100%;
    height: auto;
}

.contenedor_tarjetas_universal{
    background-color: #ffffff;
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: start;
    grid-gap: 25px 25px;
}

.tarjetas_universal{
    width: 350px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-content: start;
    background-color: #ffffff;
    overflow: hidden;
    cursor: pointer;
    transition: 0.25s;
}

.tarjetas_universal_2{
    width: 725px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-content: start;
    background-color: #ffffff;
    overflow: hidden;
    cursor: pointer;
    transition: 0.25s;
}

.tarjetas_universal_3{
    width: 725px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-content: start;
    background-color: #ffffff;
    overflow: hidden;
    cursor: pointer;
    transition: 0.25s;
    border-radius:  10px;
    border: #32689A solid 1px;
    padding: 25px 25px;
    grid-gap: 25px 25px;
}

.contenedor_redes_sociales{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    grid-gap: 25px 25px;
}

.fa-brands{
    font-size: 30px;
    color: #171717;
    transition: 0.25s;
    cursor: pointer;
}

.fa-brands:hover{
    color: #32689A;
}

.whatsapp{
    background: linear-gradient(#3DA52C, #0C5900);
}

.texto_titulo_contenedores_finales{
    color: #32689A;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:"slnt" 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    width: 100%;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
}

.texto_titulo_contenedores_finales_2{
    color: #ffffff;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:"slnt" 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    width: 100%;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
}

.texto_titulo_descripcion_finales{
    color: #171717;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:"slnt" 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    width: 100%;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
}

.texto_titulo_descripcion_finales_2{
    color: #ffffff;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:"slnt" 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    width: 100%;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
}

.boton_newsletter{
    background-color: #E42722;
    border-radius: 10px;
    color: #ffffff;
    padding: 0%;
    margin: 0%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:"slnt" 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    border: none;
    cursor: pointer;
    width: auto;
    height: auto;
    padding: 10px 25px;
    transition: 0.25s;
}

.boton_newsletter:hover{
    background-color: #c11a14;
}

.boton_newsletter:active{
    background-color: #9b110d;
    transform: scale(0.9);
}

.tarjetas_universal_2_seccion_1{
    width: 100%;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-content: start;
    background-color: #ffffff;
    overflow: hidden;
}

.tarjetas_universal_seccion_1{
    width: 100%;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-content: start;
    background-color: #ffffff;
    overflow: hidden;
}

.tarjetas_universal_seccion_2{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-content: start;
    background-color: #ffffff;
    overflow: hidden;
    grid-gap: 10px 10px;
    padding-top: 10px;
}

.tarjetas_universal_2_seccion_2{
    width: calc(100% - 20px);
    height: 380px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-content: end;
    background-color: #00000075;
    overflow: hidden;
    grid-gap: 10px 10px;
    padding: 10px 10px;
    position: absolute;
    top: 0%;
    left: 0%;
}

.contenedor_final{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background-color: #171717;
    overflow: hidden;
    padding: 25px 25px;
}

.texto_fondo{
    color: #ffffff;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:"slnt" 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: 20px;
    width: 100%;
    text-align: center;
}

.imagen_tarjeta_universal{
    width: 100%;
    height: 100%;
    cursor: pointer;
    object-fit: cover;
    transition: 0.25s;
}

.contenedor_categorias{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-content: start;
    overflow: hidden;
    background-color: transparent;
}

.contenedor_superpuesto_principal_seccion_1{
    width: 100%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    overflow: hidden;
    background-color: transparent;
    grid-gap: 25px 25px;
}

.contenedor_superpuesto_principal_seccion_2{
    width: 100%;
    height: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background-color: transparent;
    grid-gap: 25px 25px;
    z-index: 2;
}

.contenedor_404{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background-color: #ffffff;
    grid-gap: 25px 25px;
}

.texto_404{
    color: #171717;
    font-size: 30px;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:"slnt" 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    width: 100%;
    text-align: center;
    font-size: 40px;
}

.imagen_404{
    width: 15%;
    object-fit: cover;
}

.tarjeta_nota_carrusel_bienvenida{
    width: 10%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    overflow: hidden;
    border-radius: 15px;
    background-color: #171717;
    border: 2px solid #ffffff;
    box-shadow: 0px 0px 7px #171717;
    transition: 0.25s;
    cursor: pointer;
}

.tarjeta_nota_carrusel_bienvenida:hover{
    transform: translateY(-25px);
}

.imagen_tarjeta_nota_carrusel_bienvenida{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.texto_titulo_bienvenida{
    width: 90%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-content: center;
    background-color: transparent;
    color: #ffffff;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:"slnt" 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    transition: 0.25s;
    font-size: 35px;
}

.boton_bienvenida{
    background-color: #E42722;
    border-radius: 10px;
    color: #ffffff;
    padding: 0%;
    margin: 0%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:"slnt" 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    border: none;
    cursor: pointer;
    width: auto;
    height: auto;
    padding: 10px 25px;
    transition: 0.25s;
}

.boton_bienvenida:hover{
    background-color: #c11a14;
}

.boton_bienvenida:active{
    background-color: #9b110d;
}

.texto_titulo_articulo{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-content: start;
    overflow: hidden;
    background-color: transparent;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:"slnt" 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    transition: 0.25s;
}

.texto_titulo_articulo:link{
    color: #171717;
}

.texto_titulo_articulo:visited{
    color: #171717;
}

.texto_titulo_articulo_2{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-content: start;
    overflow: hidden;
    background-color: transparent;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:"slnt" 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    transition: 0.25s;
    color: #ffffff;
}

.texto_titulo_articulo_2:link{
    color: #ffffff;
}

.texto_titulo_articulo_2:visited{
    color: #ffffff;
}

.enlace_universal{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-content: start;
    overflow: hidden;
    background-color: transparent;
    color: #171717;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:"slnt" 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: 15px;
    transition: 0.25s;
    background-color: transparent;
}

.enlace_universal:link{
    color: #171717;
}

.enlace_universal:visited{
    color: #171717;
}

.enlace_universal:hover{
    color: #E42722;
}

.enlace_universal:active{
    color: #9b110d;
}

.texto_datos_articulo{
    width: auto;
    height: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-content: end;
    overflow: hidden;
    color: #171717;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:"slnt" 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: 13px;
}

.texto_datos_articulo_2{
    width: auto;
    height: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-content: end;
    overflow: hidden;
    color: #ffffff;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:"slnt" 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: 13px;
}

.contenedor_datos_articulo{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: start;
}

.imagen_rellenar{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.25s;
}

.texto_enlace_tarjeta{
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-content: start;
    overflow: hidden;
    background-color: transparent;
    color: #171717;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:"slnt" 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: 15px;
    transition: 0.25s;
}

.frame_video{
    width: 100%;
    height: 800px;
}

.texto_enlace_tarjeta:hover{
    color: #E42722;
}

.texto_enlace_tarjeta:active{
    color: #E42722;
}

.texto_enlace_tarjeta:focus{
    color: #E42722;
}

.texto_enlace_tarjeta:link{
    color: #171717;
}

.texto_enlace_tarjeta:visited{
    color: #171717;
}

.texto_enlace_tarjeta_2{
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-content: start;
    overflow: hidden;
    background-color: transparent;
    color: #ffffff;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:"slnt" 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: 15px;
    transition: 0.25s;
}

.texto_enlace_tarjeta_2:hover{
    color: #E42722;
}

.texto_enlace_tarjeta_2:active{
    color: #E42722;
}

.texto_enlace_tarjeta_2:focus{
    color: #E42722;
}

.texto_enlace_tarjeta_2:link{
    color: #ffffff;
}

.texto_enlace_tarjeta_2:visited{
    color: #ffffff;
}

.tarjetas_universal:hover .imagen_tarjeta_universal {
    transform: scale(1.2);
}

.tarjetas_universal_2:hover .imagen_tarjeta_universal {
    transform: scale(1.2);
}

.tarjetas_universal_2:hover .texto_titulo_articulo_2 {
    color: #E42722;
}

.tarjetas_universal:hover .texto_titulo_articulo {
    color: #E42722;
}

.tarjetas_universal_2_seccion_2:hover .texto_titulo_articulo {
    color: #E42722;
}




@media screen and (min-width: 1200px) and (max-width: 1499px){
    .contenedor_principal{
        height: 800px;
    }

    .contenedor_superpuesto_principal{
        height: 800px;
    }

    .contenedor_superpuesto_principal_seccion_1{
        width: 100%;
        height: 80%;
    }
    
    .contenedor_superpuesto_principal_seccion_2{
        width: 100%;
        height: 20%;
    }

    .tarjeta_nota_carrusel_bienvenida{
        width: 12%;
        height: 60%;
    }

    .texto_titulo_bienvenida{
        font-size: 28px;
    }
}

@media screen and (min-width: 900px) and (max-width: 1199px){
    .contenedor_principal{
        height: 700px;
    }

    .contenedor_superpuesto_principal{
        height: 700px;
    }

    .contenedor_superpuesto_principal_seccion_1{
        width: 100%;
        height: 80%;
    }
    
    .contenedor_superpuesto_principal_seccion_2{
        width: 100%;
        height: 20%;
    }

    .tarjeta_nota_carrusel_bienvenida{
        width: 12%;
        height: 60%;
    }

    .texto_titulo_bienvenida{
        font-size: 28px;
    }
}

@media screen and (min-width: 800px) and (max-width: 899px){
    .tarjetas_universal{
        width: calc(50% - 25px);
        min-width: 0px;
        height: auto;
    }

    .tarjetas_universal_seccion_1{
        width: 100%;
        height: 225px;
    }

    .texto_titulo_articulo{
        font-size: 15px;
    }

    .texto_enlace_tarjeta{
        font-size: 15px;
    }

    .texto_datos_articulo{
        font-size: 15px;
    }

    .texto_datos_articulo_2{
        font-size: 15px;
    }

    .contenedor_principal{
        height: 400px;
    }

    .contenedor_superpuesto_principal{
        height: 400px;
    }

    .li{
        display: none;
    }

    .ul{
        width: 70%;
    }

    .contenedor_buscar{
        width: calc(10% - 1px);
    }

    .fa-bars{
        font-size: 25px;
    }

    .fa-solid.fa-bars:first-child {
        display: flex;
    }

    .fa-solid.fa-magnifying-glass:nth-child(2) {
        display: none;
    }

    .contenedor_superpuesto_principal_seccion_1{
        width: 100%;
        height: 80%;
    }
    
    .contenedor_superpuesto_principal_seccion_2{
        width: 100%;
        height: 20%;
    }

    .tarjeta_nota_carrusel_bienvenida{
        width: 13%;
        height: 80%;
    }

    .texto_titulo_bienvenida{
        font-size: 28px;
    }
}

@media screen and (min-width: 700px) and (max-width: 799px){
    .tarjetas_universal{
        width: calc(50% - 25px);
        min-width: 0px;
        height: auto;
    }

    .tarjetas_universal_2{
        width: 100%;
        height: auto;
    }

    .tarjetas_universal_3{
        width: 100%;
    }

    .tarjetas_universal_seccion_1{
        width: 100%;
        height: 180px;
    }

    .texto_titulo_articulo{
        font-size: 15px;
    }

    .texto_enlace_tarjeta{
        font-size: 15px;
    }

    .texto_datos_articulo{
        font-size: 15px;
    }

    .texto_datos_articulo_2{
        font-size: 15px;
    }

    .contenedor_principal{
        height: 400px;
    }

    .contenedor_superpuesto_principal{
        height: 400px;
    }
    
    .li{
        display: none;
    }

    .ul{
        width: 70%;
    }

    .contenedor_buscar{
        width: calc(10% - 1px);
    }

    .fa-bars{
        font-size: 25px;
    }

    .fa-solid.fa-bars:first-child {
        display: flex;
    }

    .fa-solid.fa-magnifying-glass:nth-child(2) {
        display: none;
    }

    .contenedor_superpuesto_principal_seccion_1{
        width: 100%;
        height: 80%;
    }
    
    .contenedor_superpuesto_principal_seccion_2{
        width: 100%;
        height: 20%;
    }

    .tarjeta_nota_carrusel_bienvenida{
        width: 15%;
        height: 70%;
    }

    .texto_titulo_bienvenida{
        font-size: 23px;
    }
}

@media screen and (min-width: 600px) and (max-width: 699px){
    .tarjetas_universal{
        width: calc(50% - 25px);
        min-width: 0px;
        height: auto;
    }

    .tarjetas_universal_2{
        width: 100%;
        height: auto;
    }

    .tarjetas_universal_3{
        width: 100%;
    }

    .tarjetas_universal_seccion_1{
        width: 100%;
        height: 180px;
    }

    .texto_titulo_articulo{
        font-size: 13px;
    }

    .texto_enlace_tarjeta{
        font-size: 13px;
    }

    .texto_datos_articulo{
        font-size: 13px;
    }

    .texto_datos_articulo_2{
        font-size: 13px;
    }

    .inter-texto_titulo_secciones{
        text-align: center;
    }

    .inter-texto_descripcion_secciones{
        text-align: center;
    }

    .contenedor_principal{
        height: 400px;
    }

    .contenedor_superpuesto_principal{
        height: 400px;
    }

    .li{
        display: none;
    }

    .ul{
        width: 70%;
    }

    .contenedor_buscar{
        width: calc(10% - 1px);
    }

    .fa-bars{
        font-size: 25px;
    }

    .fa-solid.fa-bars:first-child {
        display: flex;
    }

    .fa-solid.fa-magnifying-glass:nth-child(2) {
        display: none;
    }

    .contenedor_superpuesto_principal_seccion_1{
        width: 100%;
        height: 80%;
    }
    
    .contenedor_superpuesto_principal_seccion_2{
        width: 100%;
        height: 20%;
    }

    .tarjeta_nota_carrusel_bienvenida{
        width: 15%;
        height: 70%;
    }

    .texto_titulo_bienvenida{
        font-size: 23px;
    }
}

@media screen and (min-width: 500px) and (max-width: 599px){
    .tarjetas_universal{
        width: 100%;
        min-width: 0px;
        height: auto;
    }

    .tarjetas_universal_2{
        width: 100%;
        height: auto;
    }

    .tarjetas_universal_3{
        width: 100%;
    }
    
    .texto_fondo{
        font-size: 13px;
    }

    .tarjetas_universal_seccion_1{
        width: 100%;
        height: 275px;
    }

    .inter-texto_titulo_secciones{
        text-align: center;
    }

    .inter-texto_descripcion_secciones{
        text-align: center;
    }

    .contenedor_principal{
        height: 400px;
    }

    .contenedor_superpuesto_principal{
        height: 400px;
    }

    .li{
        display: none;
    }

    .ul{
        width: 55%;
    }

    .contenedor_buscar{
        width: calc(15% - 1px);
    }

    .contenedor_logo{
        width: calc(30% - 50px);
    }

    .fa-bars{
        font-size: 25px;
    }

    .fa-solid.fa-bars:first-child {
        display: flex;
    }

    .fa-solid.fa-magnifying-glass:nth-child(2) {
        display: none;
    }

    .contenedor_superpuesto_principal_seccion_1{
        width: 100%;
        height: 80%;
    }
    
    .contenedor_superpuesto_principal_seccion_2{
        width: 100%;
        height: 20%;
    }

    .tarjeta_nota_carrusel_bienvenida{
        width: 15%;
        height: 70%;
    }

    .texto_titulo_bienvenida{
        font-size: 23px;
    }
}

@media screen and (min-width: 400px) and (max-width: 499px){
    .tarjetas_universal{
        width: 100%;
        min-width: 0px;
        height: auto;
    }

    .tarjetas_universal_2{
        width: 100%;
        height: auto;
    }

    .tarjetas_universal_3{
        width: 100%;
        height: auto;
    }

    .texto_fondo{
        font-size: 13px;
    }

    .tarjetas_universal_seccion_1{
        width: 100%;
        height: 200px;
    }

    .inter-texto_titulo_secciones{
        text-align: center;
    }

    .inter-texto_descripcion_secciones{
        text-align: center;
    }

    .contenedor_principal{
        height: 300px;
    }

    .contenedor_superpuesto_principal{
        height: 300px;
    }

    .li{
        display: none;
    }

    .ul{
        width: 55%;
    }

    .contenedor_buscar{
        width: calc(15% - 1px);
    }

    .contenedor_logo{
        width: calc(30% - 50px);
    }

    .fa-bars{
        font-size: 25px;
    }

    .fa-solid.fa-bars:first-child {
        display: flex;
    }

    .fa-solid.fa-magnifying-glass:nth-child(2) {
        display: none;
    }

    .contenedor_superpuesto_principal_seccion_1{
        width: 100%;
        height: 80%;
    }
    
    .contenedor_superpuesto_principal_seccion_2{
        width: 100%;
        height: 20%;
    }

    .tarjeta_nota_carrusel_bienvenida{
        width: 15%;
        height: 70%;
        border-radius: 10px;
    }

    .texto_titulo_bienvenida{
        font-size: 23px;
    }
}

@media screen and (min-width: 300px) and (max-width: 399px){
    .tarjetas_universal{
        width: 100%;
        min-width: 0px;
        height: auto;
    }

    .tarjetas_universal_2{
        width: 100%;
        height: auto;
    }

    .tarjetas_universal_3{
        width: 100%;
        height: auto;
    }

    .texto_fondo{
        font-size: 13px;
    }

    .tarjetas_universal_seccion_1{
        width: 100%;
        height: 175px;
    }

    .inter-texto_titulo_secciones{
        text-align: center;
    }

    .inter-texto_descripcion_secciones{
        text-align: center;
    }

    .contenedor_principal{
        height: 300px;
    }

    .contenedor_superpuesto_principal{
        height: 300px;
    }

    .li{
        display: none;
    }

    .ul{
        width: 40%;
    }

    .contenedor_buscar{
        width: calc(20% - 1px);
    }

    .contenedor_logo{
        width: calc(40% - 50px);
    }

    .fa-bars{
        font-size: 25px;
    }

    .fa-solid.fa-bars:first-child {
        display: flex;
    }

    .fa-solid.fa-magnifying-glass:nth-child(2) {
        display: none;
    }

    .contenedor_superpuesto_principal_seccion_1{
        width: 100%;
        height: 80%;
    }
    
    .contenedor_superpuesto_principal_seccion_2{
        width: 100%;
        height: 20%;
    }

    .tarjeta_nota_carrusel_bienvenida{
        width: 15%;
        height: 70%;
        border-radius: 10px;
    }

    .texto_titulo_bienvenida{
        font-size: 23px;
    }
}

@media screen and (min-width: 200px) and (max-width: 299px){
    .tarjetas_universal{
        width: 100%;
        min-width: 0px;
        height: auto;
    }

    .tarjetas_universal_2{
        width: 100%;
        height: auto;
    }

    .tarjetas_universal_3{
        width: 100%;
        height: auto;
    }

    .texto_fondo{
        font-size: 13px;
    }

    .tarjetas_universal_seccion_1{
        width: 100%;
        height: 175px;
    }

    .inter-texto_titulo_secciones{
        text-align: center;
    }

    .inter-texto_descripcion_secciones{
        text-align: center;
    }

    .contenedor_principal{
        height: 300px;
    }

    .contenedor_superpuesto_principal{
        height: 300px;
    }

    .li{
        display: none;
    }

    .ul{
        width: 25%;
    }

    .contenedor_buscar{
        width: calc(20% - 1px);
    }

    .contenedor_logo{
        width: calc(55% - 50px);
    }

    .fa-bars{
        font-size: 25px;
    }

    .fa-solid.fa-bars:first-child {
        display: flex;
    }

    .fa-solid.fa-magnifying-glass:nth-child(2) {
        display: none;
    }

    .contenedor_superpuesto_principal_seccion_1{
        width: 100%;
        height: 80%;
    }
    
    .contenedor_superpuesto_principal_seccion_2{
        width: 100%;
        height: 20%;
    }

    .tarjeta_nota_carrusel_bienvenida{
        width: 15%;
        height: 70%;
        border-radius: 10px;
    }

    .texto_titulo_bienvenida{
        font-size: 23px;
    }
}